/*
 * Style for Action Logger
 */

.hide,
.hidden {
    display: none;
}

#action-logger {
}

#action-logger p {
    max-width: 60%;
}

#action-logger table {
    max-width:       100%;
    border-collapse: collapse;
    border-style:    hidden;
    border-spacing:  0;
    margin-bottom:   2em;
}

#action-logger table th,
#action-logger table td {
    padding-right: 2em;
}

#action-logger table th {
    text-align: left;
    border-bottom: 1px solid #444444;
    padding-bottom: 0.5em;
}

#action-logger table tbody td {
    padding-top: 1em;
}

#action-logger table tbody td.datetime {
    min-width: 130px;
}
#action-logger table tbody td.action {
    min-width: 100px;
}
#action-logger table tbody td.generator {
    min-width: 125px;
}
#action-logger table tbody td.description {
    min-width: 150px;
}

#action-logger table th.checkbox,
#action-logger table td.checkbox {
    text-align: center;
    min-width: 50px;
    max-width: 90px;
}

#action-logger table.action-logs a {
    text-decoration: none;
}

#action-logger table.ai_post_types th {
    text-align: center;
}
#action-logger table.ai_post_types th:first-child {
    padding-right: 3em;
}
#action-logger table.ai_post_types tr td:first-child {
    padding-right: 3em;
}

#action-logger span.checkbox {
    line-height: 2em;
}

.notice {
    margin:  5px 0 15px;
    padding: 10px 0 10px 15px;
}

#contextual-help-columns h5 {
    margin-top: 10px;
}

.paginator ul {
    list-style-type: none;
    margin:          0;
    padding:         0 0 20px 0;
}

.paginator ul li {
    display: inline-block;
    margin:  2px;
}

.paginator span,
.paginator a {
    margin: 0;
}

.paginator span.current,
.paginator a.current {
}

.paginator span.separator,
.paginator a.separator {
    background:     none;
    pointer-events: none;
    padding:        0 10px;
}


form#settings-form {
    margin-bottom: 1em;
}
